body{
 
 
    font-family: 'Montserrat', sans-serif;
}
.in{
    position: absolute;
    right: 180px;
    width: 150px;
    display: none;
}
.menu{
    display: none;
    position: absolute;
    min-width: 100%;
    background-color: rgba(255, 255, 255, .93);
    z-index: 10;
    height: 100vh;
}

.popOver{
  
    background-color: rgba(255, 255, 255, 1);
    
}
.transparentePop{
    padding-top: 50px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 50px;
    display: none;
    position: absolute;
    min-width: 100%;
    background-color: rgba(10, 10, 10, 0.5);
    z-index: 10;
   min-height: 100vh;
    top: 0;
    right: 0;
}

.transparentePop2{
    display: none;
    position: absolute;
    min-width: 100%;
    background-color: rgba(255, 255, 255,.93);
    z-index: 10;
   min-height: 100vh;
    top: 0;
    right: 0;
}

.perfil{
    height: auto !important;
}
 
.filtros{
    display: none;
    position: absolute;
    min-width: 100%;
    background-color: rgba(255, 255, 255, .93);
    z-index: 10;
    
}
.hr1{
    border-top: 2px solid black;
    padding: 10px;

}
.hr2{
    border-top: 1px solid black;
    padding: 10px;

}
.faes{
    font-size: 1.2em;
}
.cerrar{
    position: absolute;
    right: 50px;
    background-color: black;
    color: white;
    width: 24px;
}
.btn-info{
    background-color: #8abd00 !important;
    border-color: #8abd00;
    
}
.icon1{
    /* padding-top: 5px; */
    margin-right: 20px;
    /* position: absolute;
    right: 50px; */
    text-align: center;
    background-color: black;
    color: white;
    width: 45px;
    height: 45px;
}
.iverde{
    background-color: #95d701 !important;
}
.inaranjo{
    background-color: #febc01 !important;
}
.iceleste{
    background-color: #48befe !important;
}

.txtsm{
        font-size: .85rem;
}
.txtsm2{
    font-size: .8rem;
    letter-spacing: -1px;
}
.customin{
    height: 20px !important;
    margin-right: 5px;;
    border: 1px solid #020202;
border-radius: 10px;
font-size: 10px;
}
.caption-mod{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    font-size: .6rem;
}
 
.lista{
    font-size: .4rem;
}
.big{
    font-weight: 800;
    font-size: 1rem;
}
.caption-mod-botom { 
    position:absolute;                  
    bottom:0;                         
    left:0;                          
} 
.black{
    background-color: rgba(0, 0, 0, .5);
}
.orange{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fdb327;
}
.green{
    color: #94d800;

}
.cyan{
    color: #48beff;
}

.bg-green{
    background: #94d800 !important;

}
.bg-cyan{
    background: #48beff !important;
}
.cc{
    height: 44px;
}

.footer{
    background-color: #000000;
    padding: 20px;
    width: 100%;
    margin-top: 20px;
}

.strong{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
   
}
.text-blanco{
    color: white !important;
}
.carousel-control-next-icon{
    background-color: black;
    background-image: none;
    height: 22px;
}
.carousel-control-prev-icon{
    background-color: black;
    background-image: none;
    height: 22px;
}
.vermas{
    font-size: .7rem;
    font-weight: 600;
}
.w-cap{
    margin-top: -12px;
    width: 30px !important;
    height: 30px !important;
    margin-left: 5px;
}

.am-next, .am-prev, .am-prev2, .am-next2, .am-prevp, .am-nextp, .am-prevp2, .am-nextp2{
    position: absolute;
    background-color: black;
    color: white;
    border: none;
    top: 0;
    z-index: 1;
}
.am-next{
    margin-top: 13%;
    right: 16px;
}
.am-prev{
    margin-top: 13%;
    left: 17px;
}
.am-next2{
    margin-top: 20%;
    right: 16px;
}
.am-prev2{
    margin-top: 20%;
    left: 17px;
}
.am-nextp{
    margin-top: 20%;
    right: 16px;
}
.am-prevp{
    margin-top: 20%;
    left: 17px;
}
.am-nextp2{
    margin-top: 20%;
    right: 16px;
}
.am-prevp2{
    margin-top: 20%;
    left: 17px;
}
.dist{
    position: absolute;
    bottom: 0em;
  
    font-size: .4rem;
    
 
    
 
}

.bottomtext{
    font-size:11px;

}


.btn-redondo{
    background: #fdb327;
    
    border-radius: 50px;
    font-size: .5rem;
  
    padding: .2rem;
}
.perfilinfo1{
    padding-top: 3px;
    background: #48BEFF 0% 0% no-repeat padding-box;
border-radius: 8px;
opacity: 1;
color: white;
font-size: 12px;
height: 22px;
}
.perfilinfo2{
    padding-top: 3px;
    background: #94D800 0% 0% no-repeat padding-box;
border-radius: 8px;
opacity: 1;
color: white;
font-size: 12px;
height: 22px;
}

.upe{
    padding-top: 20px;
    text-transform: uppercase;
}
.editp{
    position: absolute;
    bottom: 0;
    right: 74px;
    background-color: black;
    color: white;
    padding: 2px;
    width: 24px;
    text-align: center;

}
.editn{
   
    background-color: black;
    color: white;
    padding: 2px;
    width: 24px;
    text-align: center;

}
.txtss{
    font-size: 10px;
 
}
.ls1{
   line-height: 11px;
}
.bg-gr{
    background: #DCDCDC;
}
.incur{
    border: 2px solid #000000;
border-radius: 22px;
opacity: 1;
}
.stars{
    font-size: 2.5rem;
}
.orangeStar{
    color: #FFBC00;
}
 
/* desktop */
@media (min-width: 800px) {
    body{
         
        background-size: cover;
    }

    .sliders{
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
    .caption-mod{
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        font-size: .8rem;
    }
    .dist{
       
        font-size: .8rem;
        padding: 1em 4em ;
        
     
    }
    .bottomtext{
        font-size:20px;
    
    }
    .am-next2{
        margin-top: 25%;
        position: absolute;
        top: 0;
        right: 16px;
        z-index: 1;
    }
    .am-prev2{
        margin-top: 25%;
        position: absolute;
        top: 0;
        z-index: 1;
    }
    .am-nextp, .am-nextp2{
        margin-top: 10%;
        right: 16px;
    }
    .am-prevp, .am-prevp2{
        margin-top: 10%;
        left: 17px;
    }
    .lista{
        font-size: 15px;
    }
    .cc{
        margin-top: 50px;
        height: 90px;
        font-size: 27px;
        line-height: 1em;
    }
    .mebresias{
        padding: 2em !important;
    }
    .big{
        font-size: 30px;
    }
    .btn-redondo{
        margin-top: 100px;
        font-size: 1.3rem;
    }
    .titulocomer{
        font-size: 1.4rem;
    }
    .modmar{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    /* .welcome{
        padding: .1rem !important;
    } */
    .menu{
        
        min-width: 1px;
        width: 404px;
        height: 600px;
       
    }
    .filtros{
        
        min-width: 1px;
        width: 404px;
        
       
    }
    .in{
        
        right: 380px;
        width: 250px;
    }
    .perfil{
       margin: 50px 200px;
    }
.transparentePop{
    height: 100vh;
}
.editp{
    right: 160px;;
}
    
  }